NEXT_PUBLIC_DOWNLOAD_URL=
NEXT_PUBLIC_DEVELOPER_NAME=Álvaro Emanuel
NEXT_PUBLIC_CONTACT_EMAIL=alvaroemanuel642@gmail.com
NEXT_PUBLIC_WHATSAPP_NUMBER=5566984396232
NEXT_PUBLIC_REPO_URL=
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/alvaro-emanuel-4673a63a7/
